<% if user_signed_in? %>
  <% if restaurant.liked_by?(current_user) %>

    <td><%= link_to 'いいね外す', restaurant_like_path(restaurant), method: :DELETE, remote: true %> <%= restaurant.likes.count %></td>
  <% else %>
  <td><%= link_to 'いいねする', restaurant_like_path(restaurant), method: :POST, remote: true %> <%= restaurant.likes.count %></td>
  <% end %>
<% end %>