<h1>ユーザー詳細ページ</h1>
<h3><%= @user.name %></h3>

<div class="user-container">
    <ul class="user-menu">
      <li><a href="#" class="active" data-id="restaurant">投稿飲食店</a></li>
      <li><a href="#" data-id="favorite">いいね</a></li>
    </ul>

    <section class="content active" id="restaurant">
      <% @user.restaurants.each do |restaurant| %>
        <%= restaurant.name %>
      <% end %>
    </section>
    <section class="content" id="favorite">
      <% @user.like_restaurants.each do |like| %>
        <%= like.name %>
      <% end %>
    </section>
    <%# <section class="content">
      お問い合わせ
    </section> %>
  </div>