.main{
  height: calc(100% - 780px);
  margin: 0 auto;
}

.main-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.restaurant-list{
  height: 390px;
  width: 600px;
  margin: 30px 10px;
  /* display: flex; */
  background: white;
  border-top: solid 5px #ffa014;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.detail-restaurant{
  width: 100%;
  text-decoration: none;
  display: inline-block;
}

.restaurant-name{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px;
  margin-bottom: 10px;
  color: #404040;
  border-left: solid 6px #ffa014;
  border-bottom: solid 1px #dadada;
  background: whitesmoke;
  padding: 0.5em;
  font-weight: bold;
}


.detail{
  display: flex;
  height: 280px;
}

.detail-left{
  height: 280px;
  overflow: hidden;
  position: relative;
  width: 300px;
  margin-left: 10px;
}

.img-restaurant{
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}


.detail-right{
  width: 300px;
  height: 280px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.genre{
  text-align: center;
  color: black;
  width: 100%;
}

.genre-list{
  margin-top: 5px;
  font-size: 13px;
}

.genre-name{
  color: #404040;
  border-left: solid 6px #ffa014;/*左側の線*/
  border-bottom: solid 1px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin: 5px 5px 0;
  padding: 0.5em;
  font-weight: bold;
}


.restaurant-body{
  background-image: url("/images/header7.png");
  background-size: cover;
}

.form-error-messages{
  color: red;
  padding: 8px 0px;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  background: rgba(255,255,255,0.4);
}

.image-default{
  width: 100%;
  color: black;
  margin-top: 5px;
  height: 40px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}