
    <%= render partial: "shared/header" %>
    <main>
      
      <ul class="main-body">
        <%= render partial: 'shared/result', collection: @results%>
      </ul>
    </main>
    <%= render partial: "shared/footer" %>