
    <%= render partial: "shared/header" %>
    <main>
      <ul class="main-body">
        <%= render partial: 'shared/restaurant', collection: @restaurants%>
      </ul>
    </main>
    <%= render partial: "shared/footer" %>