<p>こんにちは <%= @resource.email %>様</p>

<p>下記リンクをクリックしていただくとパスワードを変更していただけます。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>身に覚えがなければこのメールは無視してください。</p>

