.devise-body{
  background-image: url("/images/header6.png");
  background-size: cover;
}

.devise-main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.6);
  border: 1px solid black;
}

.form-header-text{
  text-align: center;
}

.form-wrap{
  width: 70%;
  /* background-color: orange; */
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.devise-content{
  width: 100%;
  min-width: 800px;
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-header-text{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border-bottom: 1px solid #001100;
}

.field{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form-text{
  font-size: 15px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 11px;
}

.input-default{
  width: 100%;
  color: black;
  margin-top: 4px;
  height: 40px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.submit-btn{
  margin: 10px 0;
  background-color:#ffa014;
  width: 50%;
  border-radius: 5%;
  text-align: center;
  cursor: pointer;
  padding: 3px 12px;
  color: #ffffff;
  opacity: 1;
  transition: 0.3s;
  box-shadow: 6px 6px 3px #666666;
  border: 2px solid #ffa014;
}

.root-top{
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
  transition: .3s;
  margin-bottom: 10px;
}

.root-top::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #147aff;
  transition: .3s;
  transform: translateX(-50%);
}

.root-top:hover::after{
  width: 100%;
}

.form-check-box{
  margin-top: 10px;
}

.form-check-box[type=checkbox] {
  transform: scale(1.6);
}

/* .submit:hover{
} */
.user-container{
  width: 70%;
}
.user-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.user-menu li a:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.user-menu li a{
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
  border-radius: 6px 6px 0 0;
}

.user-menu li a.active{
  background: rgb(168, 167, 167);
  color: white;
}
.content.active{
  background: rgb(168, 167, 167);
  color: white;
  display: block;
  min-height: 180px;
  padding: 12px;
}
  
.content{
  display: none;
}



.user-show-main{
  margin: 10px 0px;
  width: 100vw;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.user-list{
  padding: 20px 0px 20px 30px;
  display: flex;
  flex-wrap: wrap;
}
